Instructions  
Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [ ]:
import pandas as pd
import requests
import json
import getpass

In [ ]:
rapidAPIkey = getpass.getpass()

········

### Function to get the city code

In [ ]:
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/"

params = {"query": "Lisbon"}
    
    
headers = {'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
                      'x-rapidapi-key': rapidAPIkey}

response = requests.get(url, headers = headers, params = params)

In [ ]:
response.json()

{'Places': [{'PlaceId': 'LIS-sky',
   'PlaceName': 'Lisbon',
   'CountryId': 'PT-sky',
   'RegionId': '',
   'CityId': 'LISB-sky',
   'CountryName': 'Portugal'},
  {'PlaceId': 'CAT-sky',
   'PlaceName': 'Tires',
   'CountryId': 'PT-sky',
   'RegionId': '',
   'CityId': 'CATC-sky',
   'CountryName': 'Portugal'}]}

In [ ]:
response.json().keys()

dict_keys(['Places'])

In [ ]:
response.json()["Places"]

[{'PlaceId': 'LIS-sky',
  'PlaceName': 'Lisbon',
  'CountryId': 'PT-sky',
  'RegionId': '',
  'CityId': 'LISB-sky',
  'CountryName': 'Portugal'},
 {'PlaceId': 'CAT-sky',
  'PlaceName': 'Tires',
  'CountryId': 'PT-sky',
  'RegionId': '',
  'CityId': 'CATC-sky',
  'CountryName': 'Portugal'}]

In [ ]:
response.json()["Places"][0]

{'PlaceId': 'LIS-sky',
 'PlaceName': 'Lisbon',
 'CountryId': 'PT-sky',
 'RegionId': '',
 'CityId': 'LISB-sky',
 'CountryName': 'Portugal'}

In [ ]:
response.json()["Places"][0]["PlaceId"]

'LIS-sky'

In [ ]:
def city_code(city_name):
    url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/"

    params = {"query": city_name}
    
    headers = {'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
                      'x-rapidapi-key': rapidAPIkey}

    response = requests.get(url, headers = headers, params = params)

    return response.json()["Places"][0]["PlaceId"]

In [ ]:
city_code("Paris")

'PARI-sky'

### Function to get the flight prices for one date

In [ ]:
departure_code = city_code("Lisbon")
arrival_code = city_code("Barcelona")

In [ ]:
arrival_code

'BCN-sky'

In [ ]:
url = f"https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/{departure_code}/{arrival_code}/2021-05-19"

params = {"inboundpartialdate":"2021-05-19"}

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidAPIkey}

response = requests.get(url, headers=headers, params=params)

In [ ]:
response.json()

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 63,
   'Direct': False,
   'OutboundLeg': {'CarrierIds': [1881],
    'OriginId': 65747,
    'DestinationId': 42414,
    'DepartureDate': '2021-05-19T00:00:00'},
   'QuoteDateTime': '2021-05-05T14:18:00'},
  {'QuoteId': 2,
   'MinPrice': 90,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1760],
    'OriginId': 65747,
    'DestinationId': 42414,
    'DepartureDate': '2021-05-19T00:00:00'},
   'QuoteDateTime': '2021-05-05T13:34:00'}],
 'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'},
  {'CarrierId': 1881, 'Name': 'Wizz Air UK'}],
 'Places': [{'Name': 'Barcelona',
   'Type': 'Station',
   'PlaceId': 42414,
   'IataCode': 'BCN',
   'SkyscannerCode': 'BCN',
   'CityName': 'Barcelona',
   'CityId': 'BARC',
   'CountryName': 'Spain'},
  {'Name': 'Lisbon',
   'Type': 'Station',
   'PlaceId': 65747,
   'IataCode': 'LIS',
   'SkyscannerCode': 'LIS',
   'CityName': 'Lisbon',
   'CityId': 'LISB',
   'CountryName': 'Portugal'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [ ]:
response.json().keys()

dict_keys(['Quotes', 'Carriers', 'Places', 'Currencies'])

In [ ]:
response.json()["Quotes"]

[{'QuoteId': 1,
  'MinPrice': 63,
  'Direct': False,
  'OutboundLeg': {'CarrierIds': [1881],
   'OriginId': 65747,
   'DestinationId': 42414,
   'DepartureDate': '2021-05-19T00:00:00'},
  'QuoteDateTime': '2021-05-05T14:18:00'},
 {'QuoteId': 2,
  'MinPrice': 90,
  'Direct': True,
  'OutboundLeg': {'CarrierIds': [1760],
   'OriginId': 65747,
   'DestinationId': 42414,
   'DepartureDate': '2021-05-19T00:00:00'},
  'QuoteDateTime': '2021-05-05T13:34:00'}]

In [ ]:
response.json()["Carriers"]

[{'CarrierId': 1760, 'Name': 'TAP Air Portugal'},
 {'CarrierId': 1881, 'Name': 'Wizz Air UK'}]

In [ ]:
response.json()["Places"]

[{'Name': 'Barcelona',
  'Type': 'Station',
  'PlaceId': 42414,
  'IataCode': 'BCN',
  'SkyscannerCode': 'BCN',
  'CityName': 'Barcelona',
  'CityId': 'BARC',
  'CountryName': 'Spain'},
 {'Name': 'Lisbon',
  'Type': 'Station',
  'PlaceId': 65747,
  'IataCode': 'LIS',
  'SkyscannerCode': 'LIS',
  'CityName': 'Lisbon',
  'CityId': 'LISB',
  'CountryName': 'Portugal'}]

In [ ]:
def flight_prices(departure, arrival, date):

    departure_code = city_code(departure)
    arrival_code = city_code(arrival)
    url = f"https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/{departure_code}/{arrival_code}/{date}"

    params = {"inboundpartialdate":{date}}

    headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': rapidAPIkey}

    response = requests.get(url, headers=headers, params=params)

    return response.json()

In [ ]:
flight_prices("Barcelona","Madrid","2021-05-09")

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 48,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1816],
    'OriginId': 42414,
    'DestinationId': 67652,
    'DepartureDate': '2021-05-07T00:00:00'},
   'QuoteDateTime': '2021-05-04T21:29:00'}],
 'Carriers': [{'CarrierId': 1816, 'Name': 'Air Europa'}],
 'Places': [{'Name': 'Barcelona',
   'Type': 'Station',
   'PlaceId': 42414,
   'IataCode': 'BCN',
   'SkyscannerCode': 'BCN',
   'CityName': 'Barcelona',
   'CityId': 'BARC',
   'CountryName': 'Spain'},
  {'Name': 'Madrid',
   'Type': 'Station',
   'PlaceId': 67652,
   'IataCode': 'MAD',
   'SkyscannerCode': 'MAD',
   'CityName': 'Madrid',
   'CityId': 'MADR',
   'CountryName': 'Spain'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

### Functions to get a date range

In [ ]:
pd.date_range("2021-05-19", "2021-05-25",freq='D')

DatetimeIndex(['2021-05-19', '2021-05-20', '2021-05-21', '2021-05-22',
               '2021-05-23', '2021-05-24', '2021-05-25'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range("2021-05-19", "2021-05-21",freq='D').format()

['2021-05-19', '2021-05-20', '2021-05-21']

In [ ]:
pd.Series(pd.date_range("2021-05-19", "2021-05-21",freq='D').format())

0    2021-05-19
1    2021-05-20
2    2021-05-21
dtype: object

In [ ]:
def get_dates(start, end):
    return pd.Series(pd.date_range(start, end,freq='D').format())

In [ ]:
get_dates("2021-05-15", "2021-05-25")

0     2021-05-15
1     2021-05-16
2     2021-05-17
3     2021-05-18
4     2021-05-19
5     2021-05-20
6     2021-05-21
7     2021-05-22
8     2021-05-23
9     2021-05-24
10    2021-05-25
dtype: object

### Function to collect flight prices for different dates

In [ ]:
flight_prices("Lisbon", "barcelona", "2021-05-21")

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 56,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1760],
    'OriginId': 65747,
    'DestinationId': 42414,
    'DepartureDate': '2021-05-21T00:00:00'},
   'QuoteDateTime': '2021-05-05T10:34:00'}],
 'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
 'Places': [{'Name': 'Barcelona',
   'Type': 'Station',
   'PlaceId': 42414,
   'IataCode': 'BCN',
   'SkyscannerCode': 'BCN',
   'CityName': 'Barcelona',
   'CityId': 'BARC',
   'CountryName': 'Spain'},
  {'Name': 'Lisbon',
   'Type': 'Station',
   'PlaceId': 65747,
   'IataCode': 'LIS',
   'SkyscannerCode': 'LIS',
   'CityName': 'Lisbon',
   'CityId': 'LISB',
   'CountryName': 'Portugal'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [ ]:
dates = get_dates("2021-05-19", "2021-05-21")

In [ ]:
dates

0    2021-05-19
1    2021-05-20
2    2021-05-21
dtype: object

In [ ]:
flight_prices("Lisbon", "barcelona", "2021-05-20")

{'Quotes': [{'QuoteId': 1,
   'MinPrice': 56,
   'Direct': True,
   'OutboundLeg': {'CarrierIds': [1760],
    'OriginId': 65747,
    'DestinationId': 42414,
    'DepartureDate': '2021-05-21T00:00:00'},
   'QuoteDateTime': '2021-05-05T10:34:00'}],
 'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
 'Places': [{'Name': 'Barcelona',
   'Type': 'Station',
   'PlaceId': 42414,
   'IataCode': 'BCN',
   'SkyscannerCode': 'BCN',
   'CityName': 'Barcelona',
   'CityId': 'BARC',
   'CountryName': 'Spain'},
  {'Name': 'Lisbon',
   'Type': 'Station',
   'PlaceId': 65747,
   'IataCode': 'LIS',
   'SkyscannerCode': 'LIS',
   'CityName': 'Lisbon',
   'CityId': 'LISB',
   'CountryName': 'Portugal'}],
 'Currencies': [{'Code': 'USD',
   'Symbol': '$',
   'ThousandsSeparator': ',',
   'DecimalSeparator': '.',
   'SymbolOnLeft': True,
   'SpaceBetweenAmountAndSymbol': False,
   'RoundingCoefficient': 0,
   'DecimalDigits': 2}]}

In [ ]:
[flight_prices("Lisbon", "Barcelona", date) for date in dates]

[{'Quotes': [{'QuoteId': 1,
    'MinPrice': 44,
    'Direct': False,
    'OutboundLeg': {'CarrierIds': [1090],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-19T00:00:00'},
    'QuoteDateTime': '2021-05-05T15:21:00'},
   {'QuoteId': 2,
    'MinPrice': 90,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-19T00:00:00'},
    'QuoteDateTime': '2021-05-05T13:34:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'},
   {'CarrierId': 1090, 'Name': 'Ryanair'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]},
 {'Quotes': [{'QuoteId': 1,
    'MinPrice': 56,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-20T00:00:00'},
    'QuoteDateTime': '2021-05-05T10:08:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]},
 {'Quotes': [{'QuoteId': 1,
    'MinPrice': 56,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-21T00:00:00'},
    'QuoteDateTime': '2021-05-05T10:34:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]}]

In [ ]:
[2,5,7,9]

In [ ]:
{"Miguel":1,86"brown","Pepe":"ugly"}

In [ ]:
{date:flight_prices("Lisbon", "Barcelona", date) for date in dates}.keys()

dict_keys(['2021-05-19', '2021-05-20', '2021-05-21'])

In [ ]:
def flight_days(origin, destination, start, end):
    dates = get_dates(start, end)
    return {date:flight_prices(origin, destination, date) for date in dates}

### Function to get all the info for the minimum price

In [ ]:
data_flight = flight_days("Lisbon", "barcelona", "2021-05-19", "2021-05-21")

In [ ]:
data_flight

{'2021-05-19': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 44,
    'Direct': False,
    'OutboundLeg': {'CarrierIds': [1090],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-19T00:00:00'},
    'QuoteDateTime': '2021-05-05T15:21:00'},
   {'QuoteId': 2,
    'MinPrice': 90,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-19T00:00:00'},
    'QuoteDateTime': '2021-05-05T13:34:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'},
   {'CarrierId': 1090, 'Name': 'Ryanair'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]},
 '2021-05-20': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 56,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-20T00:00:00'},
    'QuoteDateTime': '2021-05-05T10:08:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]},
 '2021-05-21': {'Quotes': [{'QuoteId': 1,
    'MinPrice': 56,
    'Direct': True,
    'OutboundLeg': {'CarrierIds': [1760],
     'OriginId': 65747,
     'DestinationId': 42414,
     'DepartureDate': '2021-05-21T00:00:00'},
    'QuoteDateTime': '2021-05-05T10:34:00'}],
  'Carriers': [{'CarrierId': 1760, 'Name': 'TAP Air Portugal'}],
  'Places': [{'Name': 'Barcelona',
    'Type': 'Station',
    'PlaceId': 42414,
    'IataCode': 'BCN',
    'SkyscannerCode': 'BCN',
    'CityName': 'Barcelona',
    'CityId': 'BARC',
    'CountryName': 'Spain'},
   {'Name': 'Lisbon',
    'Type': 'Station',
    'PlaceId': 65747,
    'IataCode': 'LIS',
    'SkyscannerCode': 'LIS',
    'CityName': 'Lisbon',
    'CityId': 'LISB',
    'CountryName': 'Portugal'}],
  'Currencies': [{'Code': 'USD',
    'Symbol': '$',
    'ThousandsSeparator': ',',
    'DecimalSeparator': '.',
    'SymbolOnLeft': True,
    'SpaceBetweenAmountAndSymbol': False,
    'RoundingCoefficient': 0,
    'DecimalDigits': 2}]}}

In [ ]:
data_flight.keys()

dict_keys(['2021-05-19', '2021-05-20', '2021-05-21'])

In [ ]:
data_flight["2021-05-21"].keys()

dict_keys(['Quotes', 'Carriers', 'Places', 'Currencies'])

In [ ]:
data_flight['2021-05-21']['Quotes']

[{'QuoteId': 1,
  'MinPrice': 56,
  'Direct': True,
  'OutboundLeg': {'CarrierIds': [1760],
   'OriginId': 65747,
   'DestinationId': 42414,
   'DepartureDate': '2021-05-21T00:00:00'},
  'QuoteDateTime': '2021-05-05T10:34:00'}]

In [ ]:
pd.json_normalize(data_flight["2021-05-21"]['Quotes'])

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,56,True,2021-05-05T10:34:00,[1760],65747,42414,2021-05-21T00:00:00

In [ ]:
df_flight_dates = pd.DataFrame()
df_carriers = pd.DataFrame()
df_places = pd.DataFrame()

In [ ]:
for day in data_flight.keys():
        df_flight_dates = df_flight_dates.append(pd.json_normalize(data_flight[day]['Quotes']))
        df_carriers = df_carriers.append(pd.json_normalize(data_flight[day]['Carriers'])).drop_duplicates()
        df_places = df_places.append(pd.json_normalize(data_flight[day]['Places'])).drop_duplicates()

In [ ]:
df_flight_dates

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,44,False,2021-05-05T15:21:00,[1090],65747,42414,2021-05-19T00:00:00
1,2,90,True,2021-05-05T13:34:00,[1760],65747,42414,2021-05-19T00:00:00
0,1,56,True,2021-05-05T10:08:00,[1760],65747,42414,2021-05-20T00:00:00
0,1,56,True,2021-05-05T10:34:00,[1760],65747,42414,2021-05-21T00:00:00

In [ ]:
df_carriers

   CarrierId              Name
0       1760  TAP Air Portugal
1       1090           Ryanair

In [ ]:
df_places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,Barcelona,Station,42414,BCN,BCN,Barcelona,BARC,Spain
1,Lisbon,Station,65747,LIS,LIS,Lisbon,LISB,Portugal

In [ ]:
#Find the cheapest flight
df_flight_dates[(df_flight_dates['MinPrice'] == df_flight_dates['MinPrice'].min())]

,QuoteId,MinPrice,Direct,QuoteDateTime,OutboundLeg.CarrierIds,OutboundLeg.OriginId,OutboundLeg.DestinationId,OutboundLeg.DepartureDate
0,1,44,False,2021-05-05T15:21:00,[1090],65747,42414,2021-05-19T00:00:00

In [ ]:
price_cheap_flight = df_flight_dates[(df_flight_dates['MinPrice'] == df_flight_dates['MinPrice'].min())]

In [ ]:
price_cheap_flight['QuoteDateTime']

0    2021-05-05T15:21:00
Name: QuoteDateTime, dtype: object

In [ ]:
price_cheap_flight['QuoteDateTime'].values

array(['2021-05-05T15:21:00'], dtype=object)

In [ ]:
#Here we get the date
price_cheap_flight['QuoteDateTime'].values[0]

'2021-05-05T15:21:00'

In [ ]:
df_carriers

   CarrierId              Name
0       1760  TAP Air Portugal
1       1090           Ryanair

In [ ]:
#Here we get the carrier
df_carriers.loc[(price_cheap_flight['OutboundLeg.CarrierIds'].iloc[0][0] == df_carriers['CarrierId']),'Name'].values[0]

'Ryanair'

In [ ]:
df_places

,Name,Type,PlaceId,IataCode,SkyscannerCode,CityName,CityId,CountryName
0,Barcelona,Station,42414,BCN,BCN,Barcelona,BARC,Spain
1,Lisbon,Station,65747,LIS,LIS,Lisbon,LISB,Portugal

In [ ]:
#Here we get the origin
df_places.loc[(df_places['PlaceId'] == price_cheap_flight['OutboundLeg.OriginId'].iloc[0]) ,'Name'].values[0]

'Lisbon'

In [ ]:
#Here we get the destination
df_places.loc[(df_places['PlaceId'] == price_cheap_flight['OutboundLeg.DestinationId'].iloc[0]) ,'Name'].values[0]

'Barcelona'

In [ ]:
def lowest_price_data(origin, destination, start, end):
    data_flight = flight_days(origin, destination, start, end)
    
    
    df_flight_dates = pd.DataFrame()
    df_carriers = pd.DataFrame()
    df_places = pd.DataFrame()
    
    
    for day in data_flight.keys():
        df_flight_dates = df_flight_dates.append(pd.json_normalize(data_flight[day]['Quotes']))
        df_carriers = df_carriers.append(pd.json_normalize(data_flight[day]['Carriers'])).drop_duplicates()
        df_places = df_places.append(pd.json_normalize(data_flight[day]['Places'])).drop_duplicates()
    

    price_cheap_flight = df_flight_dates.loc[(df_flight_dates['MinPrice'] == df_flight_dates['MinPrice'].min()),:]
    
    departure_date = price_cheap_flight['QuoteDateTime'].values[0]
    company_name = df_carriers.loc[(price_cheap_flight['OutboundLeg.CarrierIds'].iloc[0][0] == df_carriers['CarrierId']),'Name'].values[0]
    departure = df_places.loc[(df_places['PlaceId'] == price_cheap_flight['OutboundLeg.OriginId'].iloc[0]) ,'Name'].values[0]
    arrival = df_places.loc[(df_places['PlaceId'] == price_cheap_flight['OutboundLeg.DestinationId'].iloc[0]) ,'Name'].values[0]

    
    return print(f'Departure date: {departure_date[:10]} \nCompany name: {company_name} \nDeparture airport: {departure} \nArrival airport: {arrival}')

In [ ]:
lowest_price_data("Lisbon", "Barcelona", "2021-05-19", "2021-05-21")

Departure date: 2021-05-05
Company name: Ryanair
Departure airport: Lisbon
Arrival airport: Barcelona