In [1]:
import pandas as pd
import numpy as no
import scipy.stats as st

### 1. Machine

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [12]:
new_machine = [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine = [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [13]:
# Our hypothesis is this case would we that the new machine is faster than the oldest one.
statistic, p_value = st.ttest_ind(new_machine,old_machine, equal_var=False)

In [14]:
# With this result we have enough evidence to say the new machine is actually faster, rejecting our null hypothesis and keeping our original hypothesis.
p_value/2

0.0016211247331589873

In [15]:
#negative statistic means \mu_after-\mu_before < 0   ---->  \mu_after < \mu_before . With a negative statistic result 
statistic

-3.397230706117603

### 2. Pokemon

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [17]:
pokemon= pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [19]:
pokemon.shape

(800, 13)

In [18]:
#In this case our hypothesis is that the defense and attack scores are equal.
st.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# With this pvalue we could reject our null hypothesis and we could say that we have not enough evidence to prove that both attack and defense scores are not equal.